<!--form to create new items-->
<form  action="./create" method="post" name="add">
    <h2>create</h2>
    <div class="input-field">
        <input type="text" name="title" >
        <label>Title</label>
    </div>
    <button type="submit" class="btn">Create</button>
</form>








